<br>
<div class="jumbotron center">
	<h1>Ready to help?</h1>
	<br>
	<%= link_to "Start survey", survey_path, class: "btn btn-lg btn-success" %>
	<h2><small>It will take only few minutes</small></h2>
</div>