<div class="container narrow">
  <ul class="nav navbar-nav pull-left">
    <li>
      <%= link_to root_path do %>
        <span class="glyphicon glyphicon-home"></span>
      <% end %>
    </li>
  </ul>
</div><!-- /.container --> 

<div class="jumbotron center">
	<h1>We'd love to hear your opinion!</h1>
	<p class="lead">Tell us how you get the news about <strong>society, culture, interesting places, people and events in the Bay Area</strong> and what you think about the existing media sources.</p>
	<%= link_to "Start survey", href="https://docs.google.com/forms/d/1G94vZf3NhtxV-uCCoR_WmoDTdfp9ONRcTkD2zpcEvbY/viewform", class: "btn btn-lg btn-success" if mobile_device? %>
	<%= link_to "Start survey", survey_path, class: "btn btn-lg btn-success" if not mobile_device? %>
</div>

<div class="row marketing center">

		<p>Care to share?</p>
	 
		<!-- Facebook -->
		<a href="http://www.facebook.com/sharer.php?u=http://polar-tundra-7862.herokuapp.com/" target="_blank"><img src="https://s3.amazonaws.com/thesanbay/facebook.png" alt="Facebook" /></a>
		 
		<!-- Twitter -->
		<a href="http://twitter.com/share?url=http://polar-tundra-7862.herokuapp.com&text=Live in Bay Area? Complete the survey!" target="_blank"><img src="https://s3.amazonaws.com/thesanbay/twitter.png" alt="Twitter" /></a>
		 
		<!-- Google+ -->
		<a href="https://plus.google.com/share?url=http://polar-tundra-7862.herokuapp.com" target="_blank"><img src="https://s3.amazonaws.com/thesanbay/google.png" alt="google" /></a>
		 
		<!-- Email -->
		<!-- Email -->
		<a href="mailto:?Subject=Check this out!&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.simplesharebuttons.com"><img src="https://s3.amazonaws.com/thesanbay/email.png" alt="Email" /></a>

</div>	

<div class="container narrow">
	<div class="footer">
		<div class="text-center">
			<p class="muted credit">Contact us at <a href="mailto:home@the-sancities.com">home@the-sancities.com</a></p>
		</div>	
	</div>
</div>