<div class="container narrow">
  <ul class="nav navbar-nav pull-left">
    <li>
      <%= link_to root_path do %>
        <span class="glyphicon glyphicon-home"></span>
      <% end %>
    </li>
  </ul>
</div><!-- /.container --> 

<div class="jumbotron center">
	<iframe src="https://docs.google.com/forms/d/1G94vZf3NhtxV-uCCoR_WmoDTdfp9ONRcTkD2zpcEvbY/viewform?embedded=true&ttl=0" width="500" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>	
</div>	

<div class="container center">
	<div class="footer">
		<div class="text-center">
			<p class="muted credit">Contact us at <a href="mailto:home@the-sancities.com">home@the-sancities.com</a></p>
		</div>	
	</div>
</div>
