<div class="container narrow">
  <ul class="nav navbar-nav pull-left">
    <li>
      <%= link_to root_path do %>
        <span class="glyphicon glyphicon-camera"></span>
      <% end %>
    </li>
  </ul>
</div><!-- /.container --> 

